<div class="widget">
  <h5 class="widgetheading">Categories</h5>
  <ul class="cat">
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_portfolioIndex %>">Portfolio</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_softwareDevelopmentIndex %>">Software Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_graphicDesignIndex %>">Graphic Design</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_phpIndex %>"><strong>ภาษา PHP</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_webDevelopmentIndex %>">Web Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_restfulWebServiceIndex %>">RESTful Web Service</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_rubyIndex %>"><strong>ภาษา Ruby</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_middlemanDevelopmentIndex %>">Middleman</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_jekyllIndex %>">Jekyll</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_swift2Index %>"><strong>ภาษา Swift 2</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_iosDevelopmentIndex %>">iOS Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_macOSxIndex %>">Mac OS X</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_luaIndex %>"><strong>ภาษา Lua</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaSDKIndex %>">CoronaSDK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaPluginIndex %>">Corona Plugin</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaWorkshopIndex %>">Corona Workshop</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_pythonIndex %>"><strong>ภาษา Python</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_internetOfThingsIndex %>">Internet of Things</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_englishIndex %>"><strong>ภาษา English</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_mwaIndex %>"><strong>การประปานครหลวง</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_scadaIndex %>">SCADA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_rtuIndex %>">RTU</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_wlmaIndex %>">WLMA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_gisIndex %>">GIS</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectsIndex %>"><strong>Projects</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectRmrIndex %>">Project - RMR</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectMbkIndex %>">Project - MBK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectProposalIndex %>">Project - Proposal</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_freelanceIndex %>"><strong>Freelance (ฟรีแลนด์ เงินล้าน)</strong></a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseCreationIndex %>">Udemy Course Creation</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseLectureIndex %>">Udemy Course Lecture</a>
    </li>
  </ul>
</div>

