<div class="widget">
  <h5 class="widgetheading">Categories</h5>
  <ul class="cat">
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_middlemanDevelopmentIndex %>">Middleman</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_iosDevelopmentIndex %>">iOS Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_swift2Index %>">Swift 2</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_coronaSDKIndex %>">CoronaSDK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseCreationIndex %>">Udemy Course Creation</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_macOSxIndex %>">Mac OS X</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_webDevelopmentIndex %>">Web Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_scadaIndex %>">SCADA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_rtuIndex %>">RTU</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_wlmaIndex %>">WLMA</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectsIndex %>">Projects</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_restfulWebServiceIndex %>">RESTful Web Service</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectRmrIndex %>">Project - RMR</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectMbkIndex %>">Project - MBK</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_projectProposalIndex %>">Project - Proposal</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_softwareDevelopmentIndex %>">Software Development</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_udemyCourseLectureIndex %>">Udemy Course Lecture</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
        <a href="<%= current_page.data.baseURI %><%= categoryURL_englishIndex %>">English</a>
    </li>
  </ul>
</div>

