# หลักสูตร Service Innovation Masterclass
![separate line][common-01] 


<%= partial blog_dir + "Training Course/partials/2016-03-15-service-innovation/_table-of-contents" %>

<br/>

## หลักการพื้นฐานของวิทยาการบริการ
![separate line][common-01] 

---

<br/>

## นวัตกรรมบริการ
![separate line][common-01] 

---

### Overview ![separate line sub topic][common-08] 

---

<br/>

### 1. Service Innovation at a Glance ![separate line sub topic][common-08] 

<div class="post-video">
	<div class="post-heading">
	<h3><a href="#">How zipcar works ...</a></h3>
	</div>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/6tnoY51Nk6s" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


---

<div class="post-video">
	<div class="post-heading">
	<h3><a href="#">Pay Per Laugh Theater</a></h3>
	</div>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/5yonV64s7go" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


---

<br/>

### 2.Types of Service Innovation ![separate line sub topic][common-08] 


---

<br/>

### 2.Types of Service Innovation ![separate line sub topic][common-08] 


---

<br/>


### 4.Case Studies ![separate line sub topic][common-08] 


---


<%= partial blog_dir + "Training Course/partials/2016-03-15-service-innovation/_day2" %>



[common-01]: <%= current_page.data.baseURL %>images/blog-common/separate-line.png  
[common-02]: <%= current_page.data.baseURL %>images/blog-common/separate-line-with-indent.png  
[common-03]: <%= current_page.data.baseURL %>images/blog-common/icon-h1.png  
[common-04]: <%= current_page.data.baseURL %>images/blog-common/bookmark-blank-image.png  
[common-05]: <%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png  
[common-06]: <%= current_page.data.baseURL %>images/blog-common/external-link-30x30.png
[common-07]: <%= current_page.data.baseURL %>images/blog-common/separate-line-topic.png
[common-08]: <%= current_page.data.baseURL %>images/blog-common/separate-line-sub-topic.png

[1]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-001.png
[2]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-002.png
[3]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-003.png
[4]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-004.png
[5]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-005.png
[6]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-006.png
[7]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-007.png
[8]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-008.png
[9]: <%= current_page.data.baseURL %>images/categories/Training%20Course/service-innovation-masterclass-009.png


