<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Code-Aholic</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= current_page.data.baseURL %>apple-touch-icon-152x152-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= current_page.data.baseURL %>apple-touch-icon-144x144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= current_page.data.baseURL %>apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= current_page.data.baseURL %>apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="<%= current_page.data.baseURL %>apple-touch-icon-precomposed.png" />
<link rel="shortcut icon" href="<%= current_page.data.baseURL %>favicon.png" />
<link rel="icon" type="image/ico" href="<%= current_page.data.baseURL %>favicon.ico" />


<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

<!-- css -->
<%= stylesheet_link_tag "stylesheet-blog-moderna-main" %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">
    
    <%= partial "layouts/layout-blog-moderna-main-partials/_header" %>

    <%= partial "layouts/layout-blog-moderna-main-partials/_breadcrumb-moderna-main" %>



    <!-- Main Content -->
    <%= yield %>

    <%= partial "layouts/layout-blog-moderna-main-partials/_footer_example" %>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<!-- javascript -->
<%= javascript_include_tag "javascript-blog-moderna-main" %>

</body>
</html>